<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBP exchange rates</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <form action="" method="POST" id="currencyForm">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
    <div style="width: 800px;">
        <canvas id="currencyChart"></canvas>
    </div>
    <script>
   document.addEventListener("DOMContentLoaded", function() {
        const data = {{data|safe}};

        const labels = data.labels;
        const chartDatasets = [];

        for (const dataset of data.datasets) {
            chartDatasets.push({
                label: dataset.label,
                data: dataset.data,
                borderColor: getRandomColor(),
                backgroundColor: "rgba(0, 0, 0, 0)",
                borderWidth: 1,
                fill: false
            });
        }

        const ctx = document.getElementById("chart").getContext("2d");

        new Chart(ctx, {
            type: "line",
            data: {
                labels: labels,
                datasets: chartDatasets
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    });

    </script>
</body>
</html>
